
h2{text-align: center; 
   color:hsl(192, 72%, 33%)
}
h1{text-align: center;
    border-style: solid;
    color: blueviolet;
}
h2{font-size: 30px;
}
#img1{width: 37%;
margin-left: 30%;
border-style: solid;
border-color: rgba(23, 138, 128, 0.822);
border-width: 10px;}

h3{color: antiquewhite;
font-size: 27px;}
body{background-color: rgb(159, 196, 180);}

#img2{width: 35%;
margin-left:30% ;
border-style: solid;
border-color: rgb(64, 70, 44);
border-width: 10px;}

